fastapi
uvicorn[standard]
gunicorn
pydantic
python-multipart
sqlalchemy
asyncpg
tenacity
redis
hiredis
python-dotenv
sentence-transformers
langchain-core
langchain-groq
langchain
langchain-community
langchain-classic
langchain-chroma
chromadb
rank_bm25
